language: node_js
cache:
  yarn: true
notifications:
  email: false
node_js:
  - '8'
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
